@model List<Anket.Models.AnketCekModel>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "User DashBoard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Oylama İçin Anket Seçiniz...</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option value="">--- Anket Seçin ---</option>
                            @foreach (var anket in Model)
                            {
                                <option value="@anket.AnketAdi" data-anketid="@anket.AnketId">@anket.AnketAdi</option>
                            }
                        </select>
                        <!-- AnketId'yi hidden input olarak ekleyin -->
                        <input type="hidden" id="anketIdHidden" />
                    </div>
                </div>
            </div>
            <div class="row" id="anketVerileri">
                <!-- Anket verilerinin gösterileceği alan -->
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#exampleFormControlSelect1').change(function () {
            var selectedAnket = $(this).val();
            var selectedAnketId = $('#exampleFormControlSelect1 option:selected').data('anketid');

            if (selectedAnket !== "") {
                $.ajax({
                    url: '/AnketCek/AnketCek',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ anketAdi: selectedAnket }),
                    success: function (result) {
                        // Ankete ait verileri gösterilen alanları temizle
                        $('#anketVerileri').empty();

                        // Anket verilerini göstermek için bir döngü
                        for (var key in result.anketVerileri) {
                            if (result.anketVerileri.hasOwnProperty(key) && key !== "anketId") {
                                var html = '<div class="col-sm-12">';
                                html += '<label>' + key + '</label>';

                                // Inputların name ve id değerlerini JSON yanıtına göre ayarla
                                var inputName = key.toLowerCase();
                                var inputId = key.toLowerCase();

                                // Soru inputunu ekleyin
                                html += '<input type="text" class="form-control" value="' + result.anketVerileri[key] + '" name="' + inputName + '" id="' + inputId + '" />';

                                // Cevap inputlarını ekleyin
                                var cevapHtml = '<label>Cevap ' + key + '</label>';
                                cevapHtml += '<select class="form-control" name="cevap_' + inputName + '" id="cevap_' + inputId + '">';
                                for (var i = 1; i <= 5; i++) {
                                    cevapHtml += '<option value="' + i + '">' + i + '</option>';
                                }
                                cevapHtml += '</select>';
                                cevapHtml += '</div>';

                                // Ankete ait verileri ve cevapları gösterilen alana ekleyin
                                $('#anketVerileri').append(html + cevapHtml);
                            }
                        }

                        // Ankete ait verileri gösterilen alana bir kere ekledikten sonra butonu ekleyin
                        $('#anketVerileri').append('<div class="col-sm-12"><div class="form-group"><button class="btn btn-block btn-primary mb-4 mt-2" id="tamamlaBtn">Tamamla</button></div></div>');

                        // AnketId'yi hidden input alanına atayın
                        $('#anketIdHidden').val(selectedAnketId);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });

        // Anket tamamla butonuna tıklama olayını ekle (Delegasyon kullanarak)
        $('body').on('click', '#tamamlaBtn', function () {
            // Burada ankete ait verileri ve AnketId'yi toplayabilir ve istediğiniz işlemleri yapabilirsiniz
            var anketId = $('#anketIdHidden').val();
            var Eposta = '@HttpContextAccessor.HttpContext.Session.GetString("Eposta")';

            var formData = {
                anketId: anketId,
                Eposta: Eposta,
                AnketAdi: $('#anketadi').val(),
                Soru1: $('#soru1').val(),
                Cevap1: $('#cevap_soru1').val(),
                Soru2: $('#soru2').val(),
                Cevap2: $('#cevap_soru2').val(),
                Soru3: $('#soru3').val(),
                Cevap3: $('#cevap_soru3').val(),
                Soru4: $('#soru4').val(),
                Cevap4: $('#cevap_soru4').val(),
                Soru5: $('#soru5').val(),
                Cevap5: $('#cevap_soru5').val(),
                Soru6: $('#soru6').val(),
                Cevap6: $('#cevap_soru6').val(),
                Soru7: $('#soru7').val(),
                Cevap7: $('#cevap_soru7').val(),
                Soru8: $('#soru8').val(),
                Cevap8: $('#cevap_soru8').val(),
                Soru9: $('#soru9').val(),
                Cevap9: $('#cevap_soru9').val(),
                Soru10: $('#soru10').val(),
                Cevap10: $('#cevap_soru10').val()
            };

            // JSON verilerini sunucuya gönder
            $.ajax({
                url: '/AnketCek/AnketEkle',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    // Sunucudan gelen cevapla istediğiniz işlemleri yapabilirsiniz
                    console.log(response);
                    alert(response);
                },
                error: function (error) {
                    console.log(error);
                    alert(error);
                }
            });
        });
    });
</script>
